.App {
  text-align: center;
}

#Main, #About, #Skill, #Project, #Contact {
  width: calc(100vw - (100vw - 100%));
  height: 100vh;
}

#Navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - (100vw - 100%));
}